.container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    color: rgba(0, 0, 0, 0.87);
}

@media (max-width: 992px) {
    .container {
        width: 100%;
    }   
}

.hf-menu-button {
    margin-left: -12px;
    margin-right: 20px;
}

.hf-main{
    margin-top: 70px;
}