#workflow-canvas{
  position: relative;
  /* text-align: center; */
}

.hf-activity-wrapper{
  margin: 20px;
  padding: 20px;
}

.hf-dialog-full > div {
  background-color: #f1eeee;
}

table.hf-workflow{
  border-collapse: separate;
  border-spacing: 0px;
  background-color: #f1eeee;
  display: inline-block;
}

table.hf-workflow.main{
  padding: 0 20px;
}

td{
  vertical-align: top;
  text-align: center;
  padding: 0px;
  border-spacing: 0px;
}
tr{
  padding: 0px;
  border-spacing: 0px;
}

