.hf-activity {
  width: 200px;
  height: 32px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0),0 2px 4px rgba(0,0,0,.12);
  margin: 20px;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.hf-activity-icon {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  width: 32px;
  height: 32px;
  margin: 0px;
  padding: 0px;
  float: left;
}

.hf-activity-description {
  width: 144x;
  padding: 3px 3px;
  margin-left: 32px;
  font-size: 11px;
  line-height: 1.2;
  text-align: center;
  position: relative;
}

.hf-activity-status {
  height: 32px;
  width: 6px;
  position: absolute;
  right: -6px;
  top: 0px;
}

.hf-activity-closed {
  background-color: #009900;
}

.hf-activity-started {
  background-color: #ffcc00;
}

.hf-activity-cancelled {
  background-color: #cc3300;
}

.hf-activity-initial .hf-activity-icon{
  background: #ffffff url("images/activity-initial-32.png") no-repeat;
}

.hf-activity-final .hf-activity-icon{
  background: #ffffff url("images/activity-final-32.png") no-repeat;
}

.hf-activity-task .hf-activity-icon{
  background: #ffffff url("images/activity-task-32.png") no-repeat;
}

.hf-activity-condition .hf-activity-icon{
  background: #ffffff url("images/activity-condition-32.png") no-repeat;
}


.hf-activity-automatic .hf-activity-icon{
  background: #ffffff url("images/activity-automatic-32.png") no-repeat;
}


.hf-activity-email .hf-activity-icon{
  background: #ffffff url("images/activity-email-32.png") no-repeat;
}

.hf-activity-branch .hf-activity-icon{
  background: #ffffff url("images/activity-branch-32.png") no-repeat;
}

.hf-activity-loop .hf-activity-icon{
  background: #ffffff url("images/activity-loop-32.png") no-repeat;
}
/* .hf-final-point{
  height: 22px;
  width: 22px;
  display: "inline-block";
  color: "#aaaaaa";
} */

.hf-final-point{
  height: 6px;
  width: 6px;
  display: inline-block;
  position: relative;
  background-color: #aaaaaa;
  border-radius: 2px;
}
.hf-loop-back{
  height: 24px;
  width: 24px;
  display: inline-block;
  position: relative;
  background: transparent url("images/loop-back.png") no-repeat;
  z-index: 1;
}

.hf-label{
  background-color: #b1b0b0;
  color: #ffffff;
  border-radius: 4px;
  margin: 0 20px;
  padding: 3px 2px;
  font-size: 12px;
  width: 200px;
  display: inline-block;
  z-index: 1;
}

.hf-no-label{
  background-color: #b1b0b0;
  height: 2px;
  width: 2px;
  display: inline-block;
}


.hf-insert{
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  background: transparent url("images/plus-circle.png") no-repeat;
  z-index: 1;
  margin-bottom: 10px;
  cursor: pointer;
}

.hf-insert{
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  background: transparent url("images/plus-circle.png") no-repeat;
  z-index: 1;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
