.hf-activity-loop .hf-activity-icon{
    background: #ffffff url("images/activity-loop-32.png") no-repeat;
}

.hf-loop-back{
    height: 24px;
    width: 24px;
    display: inline-block;
    position: relative;
    background: transparent url("images/loop-back.png") no-repeat;
    z-index: 1;
}